<body>
  <h1>REMINDER</h1>

  <!-- search and button add -->
  <div class="max-w-full my-6 relative ">
    <div class="-left-5">
      <input
        class="placeholder:italic placeholder:text-slate-400 bg-white border border-slate-300 rounded-md shadow-md mb-2 py-2 pl-2 pr-12 shadow-md focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
        placeholder="Search for Description..." type="text" name="search" 
        [ngModel]="pageReminder.description"
        (ngModelChange)="handleSearch($event)"
        />
    </div>

    <div class="absolute top-0 right-0 ">
      <button routerLink="/reminder-create"
        class="bg-slate-800 hover:bg-blue-700 text-white text-sm font-bold p-2.5 rounded-md shadow-md">
        <ng-icon class="icon-plus" size="20px"  name='heroPlus'></ng-icon> Add Reminder
      </button>
    </div>
    <div class="absolute top-0 right-20 px-8 mr-[28px]">
      <button 
      (click)="downloadExcel()"
      class="bg-slate-800 py-2.5 px-3 hover:bg-blue-700 text-white text-sm font-bold mx-2 rounded-md shadow-md">
       <ng-icon class="icon-print" size="20px"  name='heroPrinter'></ng-icon>
      Print
      </button>
    </div>
  </div>

  <!-- table of user - use dummy data -->
<div class="shadow-lg flex flex-wrap overflow-auto rounded-lg shaadow-lg bg-gray-50">
    <div
      class="text-sm font-medium text-center text-gray-800 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
    >
      <ul class="flex flex-wrap ml-2">
        <li class="">
          <a
          style="cursor: pointer;"
            class="inline-block px-4 py-3 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            (click)="toggleTabs(1, 'ongoing')"
            [ngClass]="{
              '': openTab !== 1,
              'font-semibold bg-white underline ': openTab === 1
            }"
          >
            On Going
          </a>
        </li>
        <li class="">
          <a
          style="cursor: pointer;"
            class="inline-block px-4 py-3 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            (click)="toggleTabs(2, 'done')"
            [ngClass]="{'': openTab !== 2,
              'font-semibold bg-white underline': openTab === 2
            }"
          >
            Done
          </a>
        </li>
        <!-- <li class="">
          <a
            class="inline-block px-4 py-3 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            (click)="toggleTabs(3)"
            [ngClass]="{
              '': openTab !== 3,
              'font-semibold bg-white underline': openTab === 3
            }"
          >
            Cancel
          </a>
        </li> -->
      </ul>
      <div
        class=" flex flex-col min-w-0 break-words w-full mb-6 rounded px-2 flex-auto tab-content tab-space"
      >
        <div [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }">
          <div class="overflow-auto rounded-lg shadow">
            <table class="w-full">
              <thead class="w-full bg-gray-50 border-b-2 border-gray-200">
                <tr>
                  <th class="w-24">Description</th>
                  <th class="w-24">Schedule</th>
                  <th class="w-24">Due Date</th>
                  <th class="w-24">Amount</th>
                  <th class="w-16">Email</th>
                  <th class="w-24">Status</th>
                  <th class="w-24">Repeated</th>
                  <th class="w-24">Action</th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-100 w-full">
                <tr [ngClass]="i%2 == 0 ? 'bg-white' : 'bg-gray-50'" *ngFor="let reminder of reminders, let i = index">
                  <td>{{reminder.description}}</td>
                  <td>{{reminder.scheduleDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{reminder.paymentDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{reminder.amount | currency:"IDR":"symbol"}}</td>
                  <td>{{reminder.email}}</td>
                  <td>
                    <span [ngClass]="reminder.status == 'ongoing' ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200'"> {{reminder.status == 'ongoing'? 'On Going': 'Done' }}</span>
                  </td>
                  <td class="font-bold">{{reminder.repeated ? 'YES' : 'NO'}}</td>
                  <td>
                    <button
                    [hidden]="reminder.status == 'done' ? true : false"
                    (click)="gotoEditReminder(reminder)"
                      class="bg-blue-500 hover:bg-blue-600"
                    >
                      Edit
                    </button>
                    <button
                      (click)="confirmBox(reminder)"
                      class="bg-rose-500 hover:bg-rose-600"
                    >
                      Del
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }">
          <div class="overflow-auto rounded-lg shadow">
            <table class="w-full">
              <thead class="bg-gray-50 border-b-2 border-gray-200">
                <tr>
                  <th class="w-40">Description</th>
                  <th class="w-40">Schedule</th>
                  <th class="w-40">Due Date</th>
                  <th class="w-32">Amount</th>
                  <th class="w-40">Email</th>
                  <th class="w-32">Status</th>
                  <th class="w-32">Repeated</th>
                  <th class="w-32">Action</th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-100">
                <tr [ngClass]="i%2 == 0 ? 'bg-white' : 'bg-gray-50'" *ngFor="let reminder of reminders, let i = index">
                  <td>{{reminder.description}}</td>
                  <td>{{reminder.scheduleDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{reminder.paymentDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{reminder.amount | currency:"IDR":"symbol"}}</td>
                  <td>{{reminder.email}}</td>
                  <td>
                    <span [ngClass]="reminder.status == 'ongoing' ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200'"> {{reminder.status == 'ongoing'? 'On Going': 'Done' }}</span>
                  </td>
                  <td class="font-bold">{{reminder.repeated ? 'YES' : 'NO'}}</td>
                  <td>
                    <button
                    [hidden]="reminder.status == 'done' ? true : false"
                    (click)="gotoEditReminder(reminder)"
                      class="bg-blue-500 hover:bg-blue-600"
                    >
                      Edit
                    </button>
                    <button
                      (click)="confirmBox(reminder)"
                      class="bg-rose-500 hover:bg-rose-600"
                    >
                      Del
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Pages number -->
   <div>
    <nav aria-label="Page navigation example" class="">
      <ul class="flex items-center justify-center -space-x-px my-8 h-4 text-xs">
        <li>
          <a (click)="previousPage()"
            class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white font-semibold">
            <span class="sr-only">Previous</span>
            <ng-icon class="icon-ChevronLeft" size="15px" name='heroChevronLeft'></ng-icon>
          </a>
        </li>
        <li>
          <a href="#" aria-current="page"
            class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
            {{pageReminder.pageNum+ 1}}</a>
        </li>

        <li>
          <a (click)="nextPage()"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <ng-icon class="icon-ChevronRight" size="15px" name='heroChevronRight'></ng-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div> 
</body>