<main>
  <form>
    <div>
      <!-- <div class="bg-red-500 px-3 py-2 ronded text-gray-100 mb-3">
          <p>wrong email entered</p>
        </div> -->
      <h1
        class="flex items-center justify-center font-bold py-2 mb-12 text-3xl"
      >
        Create a Your Account
      </h1>

      <label class="text-gray-700 text-lg">Email</label>
      <input
        placeholder="Enter email address"
        type="email"
        required
      />
      <label class="text-gray-700">Name</label>
      <input
        placeholder="Enter email address"
        type="name"
        required
      />
      <label class="text-gray-700">Phone</label>
      <input
        placeholder="Ex: 8xxxxxxx"
        type="phone"
        required
      />
       <div class="relative">
      <label class="text-gray-700">Password</label>
      <input
        placeholder="Password must be at least 6 characters"
         [(ngModel)]="password"
        name="password" 
        [type]="showPassword ? 'text': 'password'"
        required formControlName="password"
      />
      <div
        (click)="toggleShowPassword()"
        class="absolute inset-y-0 right-0 flex items-center pr-2 pt-8"
      >
          <ng-icon [name]="showPassword ? 'heroEye': 'heroEyeSlash' "></ng-icon>
        </div>
      </div>
       </div>
      <div class="flex justify-end mt-8">
        <button
          routerLink="/login"
          class="bg-gray-400 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 my-4 mx-1 rounded-md"
        >
          Cancel
        </button>
        <button
          routerLink="/login"
          class="bg-slate-800 hover:bg-blue-700 text-white font-bold py-2 px-4 my-4 mx-1 rounded-md"
        >
          Sign-up
        </button>
      </div>
    <!-- </div> -->
 
  </form>
</main>
