main{
    @apply flex items-center justify-center bg-gray-100
 }
 
 form{
     @apply bg-white w-[500px] p-6 my-14 rounded shadow-md
 }

input{
    @apply w-full py-2.5 bg-gray-100 text-gray-500 px-1 outline-none mb-4 mt-1 placeholder:italic placeholder:text-slate-400 block border border-slate-300 rounded-md pl-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm
 }