<nav
  class="fixed top-0 z-50 w-full bg-[#030F27] border-b border-gray-800 dark:bg-gray-800 dark:border-gray-800 shadow-lg"
>
  <div class="px-3 p-2 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <div class="flex ml-1 md:mr-24">
          <img
            src="../../../../assets/images/logo-kb-removebg.png"
            class="h-12 mr-1"
            alt="Logo"
          />
          <span
            class="text-yellow-300 self-center whitespace-nowrap dark:text-white"
            ><p class="text-2xl font-semibold mb-1">KB Data System Indonesia</p>
          </span>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ml-3">
          <div (click)="gotoManual()">
            <ng-icon
              class="text-white"
              name="heroQuestionMarkCircle"
              size="25px"
              >Help</ng-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
