<body>
  <h1>Transaction</h1>

  <!-- card -->
  <div class="relative pt-3 pb-6 bg-lightBlue-500">
    <div class="px-4 md:px-6 mx-auto w-full">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 xl:w-3/12 px-4 h-6/12">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
          >
            <div class="flex-auto p-4 border-solid border-l-red-500 border-l-4">
              <div class="flex flex-wrap">
                <div
                  class="relative w-full pr-4 max-w-full flex-grow flex-1 mb-12"
                >
                  <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                    Total Balance
                  </h5>
                  <span class="font-bold text-sm">{{
                    totalMonth[0] - totalMonth[1] | currency : "IDR" : "symbol"
                  }}</span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-auto h-4 px-2 shadow-lg rounded-full bg-red-500"
                  >
                    <i class="text-sm font-medium">Monthly</i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-500 mt-4">
                <span class="whitespace-nowrap">{{
                  currDate | date : "MMMM yyyy"
                }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
          >
            <div
              class="flex-auto p-4 border-solid border-l-orange-500 border-l-4"
            >
              <div class="flex flex-wrap">
                <div
                  class="relative w-full pr-4 max-w-full flex-grow flex-1 mb-12"
                >
                  <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                    Total Income
                  </h5>
                  <span class="font-bold text-sm">{{
                    totalMonth[0] | currency : "IDR" : "symbol"
                  }}</span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-auto h-4 px-2 shadow-lg rounded-full bg-orange-500"
                  >
                    <i class="text-sm font-medium">Monthly</i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-500 mt-4">
                <span class="whitespace-nowrap">{{
                  currDate | date : "MMMM yyyy"
                }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
          >
            <div
              class="flex-auto p-4 border-solid border-l-pink-500 border-l-4"
            >
              <div class="flex flex-wrap">
                <div
                  class="relative w-full pr-4 max-w-full flex-grow flex-1 mb-12"
                >
                  <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                    Total Outcome
                  </h5>
                  <span class="font-bold text-sm">{{
                    totalMonth[1] | currency : "IDR" : "symbol"
                  }}</span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-auto h-4 px-2 rounded-full shadow-lg bg-pink-500"
                  >
                    <i class="text-sm font-medium">Monthly</i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-500 mt-4">
                <span class="whitespace-nowrap">{{
                  currDate | date : "MMMM yyyy"
                }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- search and button add -->
  <h4 class="text-2xl font-bold mt-28">Income and Outcome</h4>
  <div class="max-w-full my-4 relative">
    <div class="-left-5">
      <input
        class="placeholder:italic placeholder:text-slate-400 bg-white border border-slate-300 rounded-md mb-2 py-2 pl-2 pr-12 shadow-md focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
        placeholder="Search for description..."
        type="text"
        name="search"
        [ngModel]="pageTransaction.description"
        (ngModelChange)="handleSearch($event)"
      />
    </div>

    <div>
      <button
        (click)="openModal()"
        data-modal-target="authentication-modal-1"
        data-modal-toggle="authentication-modal-1"
        class="block text-white bg-slate-800 hover:bg-blue-700 focus:ring-2 focus:outline-none focus:ring-blue-300 font-bold text-sm px-2 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 rounded-md shadow-md"
        type="button"
      >
        <ng-icon class="icon-plus" size="20px" name="heroPlus"></ng-icon>
        Add Category
      </button>
    </div>
    <div class="absolute top-0 right-0">
      <button
        routerLink="/transaction-create"
        class="bg-slate-800 py-2.5 hover:bg-blue-700 text-white text-sm font-bold px-2 rounded-md shadow-md"
      >
        <ng-icon class="icon-plus" size="20px" name="heroPlus"></ng-icon>
        Add Transaction
      </button>
    </div>
  </div>

  <!-- table of user  -->
  <div class="overflow-auto rounded-lg shadow">
    <table class="w-full">
      <thead class="bg-gray-50 border-b-2 border-gray-200">
        <tr>
          <th>Created</th>
          <th>Category</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-100">
        <tr
          [ngClass]="i % 2 == 0 ? 'bg-white' : 'bg-gray-50'"
          *ngFor="let transaction of transactions; let i = index"
        >
          <td>{{ transaction.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
          <td>{{ transaction.category }}</td>
          <td>
            <span
              [ngClass]="
                transaction.type == 'income'
                  ? 'text-green-800 bg-green-200'
                  : 'text-red-800 bg-red-200'
              "
            >
              {{ transaction.type }}</span
            >
          </td>
          <td>{{ transaction.amount | currency : "IDR" : "symbol" }}</td>
          <!-- <td>117.000.000</td> -->
          <td>{{ transaction.name }}</td>
          <td>
            <button
              (click)="gotoEditTransation(transaction)"
              class="bg-blue-500 hover:bg-blue-600"
            >
              Edit
            </button>
            <button
              (click)="confirmBox(transaction)"
              class="bg-rose-500 hover:bg-rose-600"
            >
              Del
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pages number -->
  <div>
    <nav aria-label="Page navigation example" class="">
      <ul class="flex items-center justify-center -space-x-px my-8 h-4 text-xs">
        <li>
          <a
            (click)="previousPage()"
            class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">Previous</span>
            <ng-icon
              class="icon-ChevronLeft"
              size="15px"
              name="heroChevronLeft"
            ></ng-icon>
          </a>
        </li>
        <li>
          <a
            href="#"
            aria-current="page"
            class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white font-semibold"
            >{{ pageTransaction.pageNum + 1 }}</a
          >
        </li>

        <li>
          <a
            (click)="nextPage()"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">Next</span>
            <ng-icon
              class="icon-ChevronRight"
              size="15px"
              name="heroChevronRight"
            ></ng-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
