<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="flex items-center justify-center font-bold py-2 mb-12 text-3xl">
      Create Account
    </h2>

    <label class="text-gray-700">Email</label>
    <input
      class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4"
      type="email"
      name="email"
      id="email"
      required formControlName="email"
    />
    <label class="text-gray-700">Name</label>
    <input
      class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4"
      type="name"
      required formControlName="name"
    />
    <label class="text-gray-700">Phone</label>
    <input
      class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4"
      type="phone"
      required formControlName="phone"
    />

    <div class="relative">
      <label class="text-gray-700">Password</label>
      <input
      class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4 mt-1 placeholder:italic placeholder:text-slate-400 block border border-slate-300 rounded-md pl-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
      placeholder="Enter password" 
        name="password" 
        [type]="showPassword ? 'text': 'password'"
        required formControlName="password"
      />
      <div
        (click)="toggleShowPassword()"
        class="absolute inset-y-0 right-0 flex items-center  pr-2 pt-8"
      >
        <ng-icon [name]="showPassword ? 'heroEye': 'heroEyeSlash' "></ng-icon>
        </div>
      </div>

    <div class="relative">
      <label class="text-gray-700">Repeat Password</label>
      <input
      class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4 mt-1 placeholder:italic placeholder:text-slate-400 block border border-slate-300 rounded-md pl-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
      placeholder="Enter password" 
      [type]="showPassword ? 'text': 'password'"
      required formControlName="repeatpassword"
      />
      <div
        (click)="toggleShowPassword()"
        class="absolute inset-y-0 right-0 flex items-center pr-2 pt-8"
      >
          <ng-icon [name]="showPassword ? 'heroEye': 'heroEyeSlash' "></ng-icon>
        </div>
      </div> 
   
    <div class="flex justify-end mt-8">
      <button
        routerLink="/user"
        class="bg-gray-400 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 mx-1 rounded"
      >
        Cancel
      </button>
      <!-- (click)="simpleAlert()" -->
      <button
        type="submit"
        class="bg-slate-800 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-1 rounded"
      >
        Save
      </button>
    </div>
  </form>
</main>
